<!DOCTYPE html>
<html class="no-js preload no-fontface no-fileinput no-touch" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= data.page.title || "Responsive Nav" %></title>
    <meta name="author" content="@viljamis">
    <% if data.page.description %>
      <meta name="description" content="<%= data.page.description %>">
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="Responsive Nav">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <script src="//use.typekit.net/sxv1brn.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <% if data.page.demo == true %>
      <%= stylesheet_link_tag "demo" %>
    <% else %>
      <%= stylesheet_link_tag "styles" %>
    <% end %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body class="<%= page_classes %>" onload="prettyPrint()">
    <div class="border" id="home"></div>
    <div class="wrapper">
      <div id="nav">
        <ul>
          <li class="active"><a href="http://responsive-nav.com" tabindex="5">Home</a></li>
          <li><a href="#features" tabindex="4">Features</a></li>
          <li><a href="#instructions" tabindex="3">Usage Instructions</a></li>
          <li><a href="https://github.com/viljamis/responsive-nav.js" rel="external" tabindex="2">View on GitHub</a></li>
        </ul>
      </div>
      <a href="#nav" id="nav-toggle" tabindex="1">Menu</a>
      <div class="content">
        <%= yield %>
      </div>
      <div class="footer">Brought to you by <a href="http://viljamis.com" rel="external">@viljamis</a>. Follow&nbsp;me on <a href="http://twitter.com/viljamis" rel="external">Twitter</a>&nbsp;for&nbsp;updates.</div>
    </div>
    <script>
      // Init responsive-nav.js
      var navigation = new ResponsiveNav("#nav", {
        transition: 400, // Integer: Speed of the transition, in milliseconds, default is "300"
        customToggle: "#nav-toggle", // Selector: Specify the ID of a custom toggle, default is ""
        debug: false // Boolean: Log debug messages to console, true or false, default is "false"
      });
    </script>
  </body>
</html>
